@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');
body {
	margin: 0;
	background : url("bg-3.png") no-repeat center center fixed;
	background-size: cover;
	font-family: Montserrat;
	font-weight: 600;
	text-align: center;
}

.topnav {
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black;
	width: fit-content;
	margin-top: 25px;
	border-radius: 20px;
}

#logo {
	float: left;
	height: 50px;
	margin-left: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
	color: black;
	text-align: center;
	padding: 14px 45px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
#Link:hover {
	background-color: #d5edfa;
	color: black;
	font-size: 17px;
	text-align: center;
	text-decoration: none;	
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: black;
	color: white;
	border: none;
}

.welcomeBackground {
	background: url('welcomeBackground.png') no-repeat center center fixed;
	background-size: cover;
}

.header {
	text-align: center;
	color: black;
	margin: 50px 0px;
}

.formHeader{
	margin-top : 10px;
	margin-bottom : 40px;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.listPoints {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1 {
	margin: 0px;
}

.LinkButton:focus,
.LinkButton:hover,
.LinkButton:active {
	background-color: black;
	color: white;
	border: 2px solid black;
}

.formContainer#inputForm {
	margin-top: 50px;
}

th {
	background-color: black;
	color: white;
}

#Link {
	display: flex;
	justify-content: center;
	color: black;
	background-color: white;
	padding: 14px 45px;
}
#activeLink{
	display: flex;
	justify-content: center;
	color: white;
	background-color: black;
	padding: 14px 45px;
}
#inputForm {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LinkButton {
	font-family: montserrat;
	;
	display: flex;
	justify-content: center;
	color: black;
	background-color: white;
	padding: 20px 30px;
	border: 2px solid black;
}

#LoginButton {
	color: white;
	font-family: Montserrat;
	background-color: black;
	border: 0px solid white;
	font-size: 20px;
	padding: 15px 20px;
	width: fit-content;
	display: inline-block;
	height: fit-content;
}

h1 {
	color: black;
	text-align: center;
}

.input {
	margin: 10px;
	padding: 5px 5px;
	height: 20px;
	border: 2px solid black;
	color: black;
}

table {
	border-spacing: 0 10px;
	color: black;
}

.displayTable {
	border-collapse: collapse;
}

.displayTableData {
	width: 150px;
	text-align: center;
	border: 2px solid black;
	padding: 5px
}

.message {
	font-size: 25px;
}

.formContainer {
	display: inline-block;
	border: 2px solid rgb(0, 0, 0);
	padding: 50px;
	background-color: white;
	color: black;
	margin-top : 70px;
	text-align: center;
	box-shadow: 10px 10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#messageContainer {
	margin-top: 25px 0px;
}

.td {
	padding: 20px;
}

.buttonHolder {
	margin-top: 20px;
	text-align: center;
}

.input#button {
	padding: 20px 20px;
	color: black;
	background-color: white;
	font-family: montserrat;
	text-align: center;
}

form {
	display: inline-block;
}

#LoginButton:hover {
	background-color: #38b6ff;
}

.input:hover,
.input:focus,
.input:active {
	border: 2px solid #38b6ff;
}

.label {
	font-size: 20px;
	color: black;
	float: left;
}

.button {
	margin-top: 30px;
	margin-bottom: 30px;
	transition: background-color 0.1s;
}

.space {
	margin-top: 20px;
}

a {
	text-decoration: none;
	background-color: #38b6ff;
	color: white;
	border: none;
}

a {
	color: white;
}